<%- include('../inc/header') %>
    <div class="contenair">

        <div class="row">
            <div class="col-12">
                <a href="/blog/add">Add new article</a>
            </div>
        </div>
        <div class="row">

            <% articles.forEach(function (article) { %>
                <div class="col-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= article.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= article.author %>
                            </h6>
                            <p class="card-text">
                                <%= article.content %>
                            </p>
                            <a href="/blog/<%= article._id %>" class="card-link">See more</a>
                            <a href="/blog/update/<%= article._id %>" class="card-link">Update article</a>
                            <a href="/blog/delete/<%= article._id %>" class="card-link">Delete article</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include('../inc/footer') %>