<%- include('../inc/header') %>
    <div class="contenair">
        <div class="row">
            <div class="clo-12">
                <div class="card">
                    <h5 class="card-header">
                        <%= cat.breed %>
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= cat.country %>
                        </h5>
                        <p class="card-text">
                            <%= cat.orgin %>
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../inc/footer') %>